header {
	background: red;
	padding: 20px;
	margin-bottom: 20px;
}

form {
	margin: 20px;
	font-size: 20px;
}

input, select, button {
	margin: 5px;
}

.messageBox {
	margin: 10px;
}

h1 {
	display: block;
	font-size: 20px;
}